[user]
	name = Steve Grunwell
	email = steve@stevegrunwell.com
[core]
    filemode = false
    excludesfile = /Users/steve/Dropbox/dotfiles/git/.gitignore
[color]
    ui = true
[push]
    default = matching
[pull]
    ff = true
[pager]
    branch = false