[user]
	name = Steve Grunwell
	email = steve@stevegrunwell.com
[core]
    filemode = false
    excludesfile = /Users/steve/Dropbox/dotfiles/git/.gitignore
[color]
    ui = true
[push]
    default = matching
[pull]
    ff = true
[pager]
    branch = false
[alias]
    # Checkout a GitHub PR locally
    # Reference: https://davidwalsh.name/pull-down-pr
    pr = "!f() { git fetch -fu ${2:-upstream} refs/pull/$1/head:pr/$1 && git checkout pr/$1; }; f"

    # Clean up all branches that start with "pr/"
    # Reference: https://davidwalsh.name/pull-down-pr
    pr-clean = "!git checkout master ; git for-each-ref refs/heads/pr/* --format=\"%(refname)\" | while read ref ; do branch=${ref#refs/heads/} ; git branch -D $branch ; done"
