[user]
	name = Steve Grunwell
	email = 233836+stevegrunwell@users.noreply.github.com
[core]
    filemode = false
[color]
    ui = true
[push]
    default = matching
[pull]
    ff = true
[pager]
    branch = false
[alias]
    # Checkout a GitHub PR locally
    # Reference: https://davidwalsh.name/pull-down-pr
    pr = "!f() { git fetch -fu ${2:-upstream} refs/pull/$1/head:pr/$1 && git checkout pr/$1; }; f"

    # Clean up all branches that start with "pr/"
    # Reference: https://davidwalsh.name/pull-down-pr
    pr-clean = "!git checkout master ; git for-each-ref refs/heads/pr/* --format=\"%(refname)\" | while read ref ; do branch=${ref#refs/heads/} ; git branch -D $branch ; done"

    # Set the upstream for a forked repo.
    set-upstream = "!f() { git remote add upstream https://github.com/"$1".git; git remote -v; }; f"
[init]
	defaultBranch = main
