[user]
  # Don't keep these in the repository, set them in .extra instead
  # (following Mathias Bynens' lead):
  #
  # GIT_AUTHOR_NAME="Your name"
  # GIT_COMMITTER_NAME="$GIT_AUTHOR_NAME"
  # git config --global user.name "$GIT_AUTHOR_NAME"
  # GIT_AUTHOR_EMAIL="youremail@example.com"
  # GIT_COMMITTER_EMAIL="$GIT_AUTHOR_EMAIL"
  # git config --global user.email "$GIT_AUTHOR_EMAIL"

[core]
	filemode = false
[color]
	ui = true